openai
langchain
django
djangorestframework
chromadb
langchain_community
langchain-openai
requests
deep-translator
pytest
Pillow
opencv-python-headless
django-cors-header
django-cron
django-redis
mysqlclient
mysql-connector-python
scikit-learn
faiss-cpu
djangorestframework-simplejwt
